h4 {
    color: #d53c3c;
    text-align: center;
    font-weight: 900;
    text-transform:inherit;
    font-style:inherit;
    font-size: 15px;
}

h5 {  
    font-weight: 400;  
    text-transform:uppercase;
}

body{
    background-color: #e5de9de1 ;
}

